body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6f2ff;
}

table{
    border-collapse: collapse;
    width: 500px;
    margin: 30px auto;
    background-color: white;
}

caption{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    margin-bottom: 10px;
}

th{
    background-color: #4da6ff;
    color: white;
    padding: 8px;
}

td{
    padding: 8px;
    text-align: center;
}

#kq{
    font-weight: bold;
    color: rgb(255, 0, 0);
}